body {
	margin: 0;
	padding: 0;
	font-family: arial;
	line-height: 1;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 160%;
}

body {
}

html,
body,
#root {
	flex: 1;
	display: flex;
	min-height: 100%;
	min-width: 100%;
}
* {
	box-sizing: border-box;
	outline: none;
}

.sidebar {
	background: #333;
	box-sizing: border-box;
	color: #a0a098;
	height: 100%;
	left: 0;
	padding: 0.6rem;

	position: fixed;
	top: 0;
	width: 30rem;
}

.content {
	background: #111;
	color: white;
	height: 100%;
	left: 30rem;
	padding: 1rem;
	position: fixed;
	width: calc(100% - 30rem);
}

.content div {
	border: 0.1rem solid #36cc05;
	position: relative;
	user-select: none;
	padding: 1rem;
	box-sizing: border-box;
}

.content div:before {
	content: attr(name);
	position: absolute;
	bottom: 0.3rem;
	left: 0.5rem;
	opacity: 0.1;
	pointer-events: none;
	color: orange;
	z-index: 2;
	text-transform: none;
	font-size: 0.9em;
}

.content div:hover:before {
	opacity: 1;
}
.content div:hover {
	border-color: red;
}
.content div[data-selected='true'] {
	border-color: blue !important;
}

.content div[data-dragging-over='true'] {
	border-style: dashed !important;
	border-color: whitesmoke !important;
}

.el-tool-copy-left,
.el-tool-copy-right {
	position: absolute;
	background: blue;
	padding: 0.2rem;
	box-sizing: border-box;
	display: none;
	cursor: pointer;
}

.el-tool-copy-left {
	top: 0;
	left: 0;
	width: 0.6rem;
	height: 100%;
}

.el-tool-copy-right {
	top: 0;
	right: 0;
	width: 0.6rem;
	height: 100%;
}
.content div[data-selected='true'] > .el-tool-copy-left,
.content div[data-selected='true'] > .el-tool-copy-right {
	display: block;
}

body[data-dragging='true'] .content div > div {
	margin: 30px !important;
}

.sidebar-input {
	background: white;
	color: black;
	padding: 0.3rem;
	padding-left: 0.3rem;
	padding-right: 0.3rem;

	font-size: 0.8em;
	margin-top: 0.1rem;
	border-radius: 0.2rem;
}
.sidebar-icon i.fa-check {
	visibility: collapse;
}

.sidebar-icon[data-selected='true'] {
	color: #36cc05 !important;
	border: 0.1rem solid #908383;
}
.sidebar-icon[data-selected='true'] i.fa-check {
	visibility: initial;
}

.sidebar-icon:hover {
	color: #36cc05b3 !important;
}
.sidebar-icon:hover i.fa-check {
	visibility: initial;
}

.sidebar-icon {
	border-radius: 0.5rem;
	text-align: center;
	margin-left: 0.5rem;
	user-select: none;
	cursor: pointer;
	padding: 0.3rem;
	box-sizing: content-box;
	border: 0.1rem solid #656565;
	font-size: 0.9em;
}

.sidebar-icon > i {
	height: 1em;
	width: 1em;
	line-height: 1.1;
}
.sidebar-color-picker {
	min-height: 1em;
	min-width: 1em;
	border: 0.1rem solid #908383;
}

hr {
	height: 0;
	padding: 0;
	border: 0;
	border-bottom: 0.1rem solid red;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	width: 100%;
}

summary {
	cursor: pointer;
	color: #c9ccd0;
}
