/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
    Modified for https://github.com/titoBouzout/dom-flair May 9 2023
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
*/
*:where(
    :not(
        svg *,
        symbol *,
        pre,
        progress,
        input[type='checkbox'],
        input[type='radio'],
        dialog:modal
      )
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex: 1;
}
html {
  font-display: swap;
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA */

/* For images to not be able to exceed their container */

img,
picture,
audio,
video,
iframe {
  max-width: 100%;
  /* prevents broken images to break the layout*/
  overflow: hidden;
}

/* audio takes full width, has min height */

audio {
  display: block;
  min-height: 40px;
  width: auto;
}

/* remove ugly border radius from audio */

audio::-webkit-media-controls-enclosure,
video::-webkit-media-controls-enclosure {
  border-radius: 0;
}

/* sane defaults for svg  */

svg {
  fill: currentColor;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  max-width: 100%;
}

/* blocks */

article,
header,
section,
nav,
ul,
footer,
iframe,
h1,
h2,
h3,
h4,
h5,
pre,
code {
  display: block;
  width: auto;
}

table {
  width: 100%;
}

/* TEXT */

b,
b * {
  font-weight: bold;
}

em {
  font-style: italic;
}

s {
  text-decoration: revert;
}

mark {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
}

pre {
  margin: 0;
}

/* INPUT */

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
}

textarea {
  line-height: 1.4;
}

/* DISPLAY */

/* removes spacing between cells in tables */

table {
  border-collapse: collapse;
}

/* Reapply the pointer cursor for anchor tags */

a,
button,
input {
  cursor: revert;
  outline: revert;
}

hr {
  width: auto;
  height: 1px;
}
