/*
PROPERTIES (the very basic first styles on the cascade)
they are only mean to be basic values of anything, then at a later step could be overiden for when behaviour changes or is buggy
*/

/* direction */
[row],
[child-row] > *,
[all-row] * {
	display: flex;
	flex-direction: row;

	align-content: flex-start;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: flex-start;
}

[col],
[column],
[child-col] > *,
[child-column] > *,
[all-col] *,
[all-column] * {
	display: flex;
	flex-direction: column;

	align-content: flex-start;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: flex-start;
}

[wrap],
[child-wrap] > *,
[all-wrap] * {
	display: flex;
	flex-wrap: wrap;
}

[no-wrap],
[child-no-wrap] > *,
[all-no-wrap] * {
	flex-wrap: nowrap;
}

/* size */

[grow],
[child-grow] > *,
[all-grow] * {
	display: flex;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;

	align-self: stretch;
	min-height: 0;
	min-width: 0;

	align-content: flex-start;
	justify-content: flex-start;
	justify-items: flex-start;
	align-items: flex-start;
}

div[width],
input[width],
span[width],
header[width],
nav[width],
[full-width],
div[child-width] > *,
input[child-width] > *,
span[child-width] > *,
header[child-width] > *,
nav[child-width] > *,
[child-full-width] > *,
div[all-width] *,
input[all-width] *,
span[all-width] *,
header[all-width] *,
nav[all-width] *,
[all-full-width] * {
	width: 100%;
}

[min-width],
[child-min-width] > *,
[all-min-width] * {
	min-width: 100%;
}
[max-width],
[child-max-width] > *,
[all-max-width] * {
	max-width: 100%;
}

div[height],
input[height],
span[height],
header[height],
nav[height],
[full-height],
div[child-height] > *,
input[child-height] > *,
span[child-height] > *,
header[child-height] > *,
nav[child-height] > *,
[child-full-height] > *,
div[all-height] *,
input[all-height] *,
span[all-height] *,
header[all-height] *,
nav[all-height] *,
[all-full-height] * {
	height: 100%;
}

[min-height],
[child-min-height] > *,
[all-min-height] * {
	min-height: 100%;
}

[max-height],
[child-max-height] > *,
[all-max-height] * {
	max-height: 100%;
}

/* scroll  */

[scroll],
[child-scroll] > *,
[all-scroll] * {
	will-change: scroll-position;
	transform: translatez(0);

	overflow: auto;

	min-height: 0;
	min-width: 0;
}
[scroll-x],
[child-scroll-x] > *,
[all-scroll-x] * {
	will-change: scroll-position;
	transform: translatez(0);

	overflow-x: auto;
	overflow-y: hidden;

	min-width: 0;
}

[scroll-y],
[child-scroll-y] > *,
[all-scroll-y] * {
	will-change: scroll-position;
	transform: translatez(0);

	overflow-y: auto;
	overflow-x: hidden;

	min-height: 0;
}

[scroll-thin]::-webkit-scrollbar,
[child-scroll-thin] > *::-webkit-scrollbar,
[all-scroll-thin] *::-webkit-scrollbar {
	width: 8px;
}
/* default color if not its invisible */
[scroll-thin]::-webkit-scrollbar-thumb,
[child-scroll-thin] > *::-webkit-scrollbar-thumb,
[all-scroll-thin] *::-webkit-scrollbar-thumb {
	background-color: grey;
}

[scroll-thin],
[child-scroll-thin] > *,
[all-scroll-thin] * {
	scrollbar-width: thin;
}

[no-scroll]::-webkit-scrollbar,
[child-no-scroll] > *::-webkit-scrollbar,
[all-no-scroll] *::-webkit-scrollbar {
	width: 0px;
	display: none;
}

[no-scroll]::-moz-scrollbar,
[child-no-scroll] > *::-moz-scrollbar,
[all-no-scroll] *::-moz-scrollbar {
	width: 0px;
	display: none;
}

/* display  */

[border-box],
[child-border-box] > *,
[all-border-box] * {
	box-sizing: border-box;
}
[content-box],
[child-content-box] > *,
[all-content-box] * {
	box-sizing: content-box;
}
[block],
[child-block] > *,
[all-block] * {
	display: block;
}
[inline],
[child-inline] > *,
[all-inline] * {
	display: inline;
}
[inline-block],
[child-inline-block] > *,
[all-inline-block] * {
	display: inline-block;
}
[inline-flex],
[child-inline-flex] > *,
[all-inline-flex] * {
	display: inline-flex;
}
[flex],
[child-flex] > *,
[all-flex] * {
	display: flex;
}
[relative],
[child-relative] > *,
[all-relative] * {
	position: relative;
}
[absolute],
[child-absolute] > *,
[all-absolute] * {
	position: absolute;
}
[fixed],
[child-fixed] > *,
[all-fixed] * {
	position: fixed;
}
[full],
[child-full] > *,
[all-full] * {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
[full-window],
[child-full-window] > *,
[all-full-window] * {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
[overflow],
[child-overflow] > *,
[all-overflow] * {
	overflow: hidden;
}

[layer],
[child-layer] > *,
[all-layer] * {
	transform: translatez(0);
}
[collapse],
[child-collapse] > *,
[all-collapse] * {
	visibility: collapse;
}

[no-empty]::empty,
[child-no-empty] > *::empty,
[all-no-empty] *::empty {
	display: none;
}

/* cursor  */

[cursor-hand],
[child-cursor-hand] > *,
[all-cursor-hand] * {
	cursor: pointer;
}
[cursor-ignore],
[child-cursor-ignore] > *,
[all-cursor-ignore] * {
	pointer-events: none;
}
[cursor-no-ignore],
[child-cursor-no-ignore] > *,
[all-cursor-no-ignore] * {
	pointer-events: initial;
}

/* selection  */

[selection-none],
[child-selection-none] > *,
[all-selection-none] * {
	-moz-user-select: none;
	user-select: none;
}
[selection-text],
[child-selection-text] > *,
[all-selection-text] * {
	-moz-user-select: text;
	user-select: text;
}
[selection-all],
[child-selection-all] > *,
[all-selection-all] * {
	-moz-user-select: all;
	user-select: all;
}

/* text  */

[text-multiline],
[child-text-multiline] > *,
[all-text-multiline] * {
	line-height: 1.4;
}
[text-center],
[child-text-center] > *,
[all-text-center] * {
	text-align: center;
}
[text-left],
[child-text-left] > *,
[all-text-left] * {
	text-align: left;
}
[text-right],
[child-text-right] > *,
[all-text-right] * {
	text-align: right;
}
[text-crop],
[child-text-crop] > *,
[all-text-crop] * {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	min-width: 0;
	min-height: 0;
}

[text-no-wrap],
[child-text-no-wrap] > *,
[all-text-no-wrap] * {
	white-space: nowrap;
}
[text-wrap],
[child-text-wrap] > *,
[all-text-wrap] * {
	word-break: break-word;
	overflow-wrap: anywhere;
	min-height: 0;
	min-width: 0;
}
[text-bold],
[child-text-bold] > *,
[all-text-bold] * {
	font-weight: bold;
}
[text-regular],
[child-text-regular] > *,
[all-text-regular] * {
	font-weight: normal;
}
[text-capitalize],
[child-text-capitalize] > *,
[all-text-capitalize] * {
	text-transform: capitalize;
}
[text-uppercase],
[child-text-uppercase] > *,
[all-text-uppercase] * {
	text-transform: uppercase;
}
[text-underline],
[child-text-underline] > *,
[all-text-underline] * {
	text-decoration: underline;
}
[text-no-underline],
[child-text-no-underline] > *,
[all-text-no-underline] * {
	text-decoration: none;
}
[text-small],
[child-text-small] > *,
[all-text-small] * {
	font-size: small;
}

/* alignment  */

[left],
[child-left] > *,
[all-left] * {
	display: flex;
	left: 0;
}
[right],
[child-right] > *,
[all-right] * {
	display: flex;
	right: 0;
}
[horizontal],
[child-horizontal] > *,
[all-horizontal] * {
	display: flex;
}
[top],
[child-top] > *,
[all-top] * {
	display: flex;
	top: 0;
}
[bottom],
[child-bottom] > *,
[all-bottom] * {
	display: flex;
	bottom: 0;
}
[vertical],
[child-vertical] > *,
[all-vertical] * {
	display: flex;
}
[center],
[child-center] > *,
[all-center] * {
	display: flex;
}

/* spacing  */

[space-around],
[child-space-around] > *,
[all-space-around] * {
	display: flex;
}
[space-around-horizontal],
[child-space-around-horizontal] > *,
[all-space-around-horizontal] * {
	display: flex;
}
[space-around-vertical],
[child-space-around-vertical] > *,
[all-space-around-vertical] * {
	display: flex;
}
[space-between],
[child-space-between] > *,
[all-space-between] * {
	display: flex;
}
[space-between-horizontal],
[child-space-between-horizontal] > *,
[all-space-between-horizontal] * {
	display: flex;
}
[space-between-vertical],
[child-space-between-vertical] > *,
[all-space-between-vertical] * {
	display: flex;
}
[space-evenly],
[child-space-evenly] > *,
[all-space-evenly] * {
	display: flex;
}
[space-evenly-horizontal],
[child-space-evenly-horizontal] > *,
[all-space-evenly-horizontal] * {
	display: flex;
}
[space-evenly-vertical],
[child-space-evenly-vertical] > *,
[all-space-evenly-vertical] * {
	display: flex;
}

/*
PROPERTIES GROUPS
the properties depend of other classes
*/

/* left */
[left],
[child-left] > *,
[all-left] *,
[row][left] {
	justify-content: flex-start;
	justify-items: flex-start;
}
[col][left],
[column][left] {
	align-content: flex-start;
	align-items: flex-start;
}

/* right */
[right],
[child-right] > *,
[all-right] *,
[row][right] {
	justify-content: flex-end;
	justify-items: flex-end;
}
[col][right],
[column][right] {
	align-content: flex-end;
	align-items: flex-end;
}

/* top */
[top],
[child-top] > *,
[all-top] *,
[row][top] {
	align-content: flex-start;
	align-items: flex-start;
}
[col][top],
[column][top] {
	justify-content: flex-start;
	justify-items: flex-start;
}

/* bottom */
[bottom],
[child-bottom] > *,
[all-bottom] *,
[row][bottom] {
	align-content: flex-end;
	align-items: flex-end;
}
[col][bottom],
[column][bottom] {
	justify-content: flex-end;
	justify-items: flex-end;
}

/* horizontal */
[horizontal],
[child-horizontal] > *,
[all-horizontal] *,
[row][horizontal] {
	justify-content: center;
	justify-items: center;
	justify-content: safe center;
	justify-items: safe center;
}

[col][horizontal],
[column][horizontal] {
	align-content: center;
	align-items: center;
	align-content: safe center;
	align-items: safe center;
}

/* vertical */
[vertical],
[child-vertical] > *,
[all-vertical] *,
[row][vertical] {
	align-content: center;
	align-items: center;
}

[col][vertical],
[column][vertical] {
	justify-content: center;
	justify-items: center;
}

/* center */
[center],
[child-center] > *,
[all-center] *,
[row][center] {
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
[col][center],
[column][center] {
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

/* space-around */
[space-around],
[child-space-around] > *,
[all-space-around] *,
[row][space-around] {
	justify-content: space-around;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/

	justify-items: center;
	align-items: center;
}
[col][space-around],
[column][space-around] {
	justify-content: space-around;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/

	justify-items: center;
	align-items: center;
}

/* space-around-horizontal */
[space-around-horizontal],
[child-space-around-horizontal] > *,
[all-space-around-horizontal] *,
[row][space-around-horizontal] {
	justify-content: space-around;
}
[col][space-around-horizontal],
[column][space-around-horizontal] {
	justify-content: space-around;
	align-content: space-around;
	justify-items: center;
	align-items: center;
}

/* space-around-vertical */
[space-around-vertical],
[child-space-around-vertical] > *,
[all-space-around-vertical] *,
[row][space-around-vertical] {
	align-content: space-around;
}
[col][space-around-vertical],
[column][space-around-vertical] {
	justify-content: space-around;
	align-content: space-around;
	justify-items: center;
	align-items: center;
}

/* space-between */
[space-between],
[child-space-between] > *,
[all-space-between] *,
[row][space-between] {
	justify-content: space-between;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/
	justify-items: center;
	align-items: center;
}
[col][space-between],
[column][space-between] {
	justify-content: space-between;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/
	justify-items: center;
	align-items: center;
}

/* space-between-horizontal */
[space-between-horizontal],
[child-space-between-horizontal] > *,
[all-space-between-horizontal] *,
[row][space-between-horizontal] {
	justify-content: space-between;
}
[col][space-between-horizontal],
[column][space-between-horizontal] {
	justify-content: space-between;
	align-content: space-between;
	justify-items: center;
	align-items: center;
}

/* space-between-vertical */
[space-between-vertical],
[child-space-between-vertical] > *,
[all-space-between-vertical] *,
[row][space-between-vertical] {
	align-content: space-between;
}

[col][space-between-vertical],
[column][space-between-vertical] {
	justify-content: space-between;
	align-content: space-between;
	justify-items: center;
	align-items: center;
}

/* .space-evenly */
[space-evenly],
[child-space-evenly] > *,
[all-space-evenly] *,
[row][space-evenly] {
	justify-content: space-evenly;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/
	justify-items: center;
	align-items: center;
}
[col][space-evenly],
[column][space-evenly] {
	justify-content: space-evenly;
	align-content: initial; /* this fix scroll when the item is bigger than the container, may need to be tested in colums and reverse it with justify-content*/
	justify-items: center;
	align-items: center;
}

/* .space-evenly-horizontal */
[space-evenly-horizontal],
[child-space-evenly-horizontal] > *,
[all-space-evenly-horizontal] *,
[row][space-evenly-horizontal] {
	justify-content: space-evenly;
}
[col][space-evenly-horizontal],
[column][space-evenly-horizontal] {
	justify-content: space-evenly;
	align-content: space-evenly;
	justify-items: center;
	align-items: center;
}

/* .space-evenly-vertical */
[space-evenly-vertical],
[child-space-evenly-vertical] > *,
[all-space-evenly-vertical] *,
[row][space-evenly-vertical] {
	align-content: space-evenly;
}
[col][space-evenly-vertical],
[column][space-evenly-vertical] {
	justify-content: space-evenly;
	align-content: space-evenly;
	justify-items: center;
	align-items: center;
}

/* fix: flex wont grow when its positioned as absolute */
[absolute][grow],
[child-absolute][child-grow] > *,
[all-absolute][child-grow] * {
	width: 100%;
	height: 100%;
}

/*
PROPERTIES WITH VALUES
the values of the properties come via props
*/

[selection-color]::selection {
	color: var(--selection-color);
}
[selection-background]::selection {
	background-color: var(--selection-background);
}

[scroll-color]::-webkit-scrollbar-thumb {
	background-color: var(--scroll-color);
}
[scroll-color] {
	scrollbar-color: var(--scroll-color) inherit;
}

[scroll-background]::-webkit-scrollbar-track {
	background-color: var(--scroll-background);
}
[scroll-background] {
	scrollbar-color: inherit var(--scroll-background);
}

/* useful */

[visible],
[child-visible] > *,
[all-visible] * {
	overflow: visible;
}

[circle],
[child-circle] > *,
[all-circle] * {
	border-radius: 100%;
}

[z-index],
[child-z-index] > *,
[all-z-index] *,
[z],
[child-z] > *,
[all-z] * {
	z-index: 1;
}

[hidden],
[child-hidden] > *,
[all-hidden] * {
	display: none;
}

[controls-none]::-webkit-media-controls-enclosure,
[child-controls-none] > *::-webkit-media-controls-enclosure,
[all-controls-none] *::-webkit-media-controls-enclosure {
	display: none;
}
