/* initial state of body and container div */
html,
body {
	background: grey;
	color: white;
}

/* images should adapt to container */
img {
	max-width: 100%;
}

/* image as icon should have same size as font   */
img[src='images/icon.png'] {
	max-width: 1em;
}

/* stupid thing */
* {
	box-sizing: border-box;
}

.orange {
	background: orange;
}
